<p id="notice"><%= notice %></p>

<p>
  <strong>Submodulo:</strong>
  <%= @submodulo.submodulo %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @submodulo.modelo %>
</p>

<p>
  <strong>Pinesdigitales:</strong>
  <%= @submodulo.pinesDigitales %>
</p>

<p>
  <strong>Pinesanalogicos:</strong>
  <%= @submodulo.pinesAnalogicos %>
</p>

<p>
  <strong>Sistema domotico:</strong>
  <%= @submodulo.sistema_domotico %>
</p>

<%= link_to 'Edit', edit_submodulo_path(@submodulo) %> |
<%= link_to 'Back', submodulos_path %>
