<h1>Listing sistemas_domotico</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ip</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sistemas_domotico.each do |sistema_domotico| %>
      <tr>
        <td><%= sistema_domotico.nombre %></td>
        <td><%= sistema_domotico.ip %></td>
        <td><%= sistema_domotico.estado %></td>
        <td><%= link_to 'Show', sistema_domotico %></td>
        <td><%= link_to 'Edit', edit_sistema_domotico_path(sistema_domotico) %></td>
        <td><%= link_to 'Destroy', sistema_domotico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sistema domotico', new_sistema_domotico_path %>
