<center><h1>Sistemas registrados para la cuenta  "Cuenta"</h1></center>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direción Ip</th>
      <th>Estado</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @sistemas_domotico.each do |sistema_domotico| %>
      <tr>
        <td><%= sistema_domotico.nombre %></td>
        <td><%= sistema_domotico.ip %></td>
        <td><%= sistema_domotico.estado %></td>
        <td><%= link_to 'Agregar submódulo', new_submodulo_path %></td>
        <td><%= link_to 'Agregar ambiente', new_ambiente_path %></td>
        <td><%= link_to 'Ver Detalles', sistema_domotico %></td>
        <td><%= link_to 'Editar', edit_sistema_domotico_path(sistema_domotico) %></td>
        <td><%= link_to 'Eliminar', sistema_domotico, method: :delete, data: { confirm: 'Esta seguro que quiere eliminarlo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Registrar Sistema Domotico', new_sistema_domotico_path %>
