<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sistema_domotico.nombre %>
</p>

<p>
  <strong>Dirección Ip:</strong>
  <%= @sistema_domotico.ip %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sistema_domotico.estado %>
</p>

<%= link_to 'Editar', edit_sistema_domotico_path(@sistema_domotico) %> |
<%= link_to 'Atrás', sistemas_domotico_path %>
