<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%=image_tag("Logotipo.png",:alt=>"DomoticApp", :style=>"max-width:50px;") %> DomoticApp
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--Menu de Sistemas domoticos -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sistema Domotico <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">           
            <li><%= link_to 'Registrar Sistema', new_sistema_domotico_path %></li>
            <li><%= link_to 'Ver Sistemas Registrados', sistemas_domotico_path %></li>
          </ul>
        </li>
        <!-- Menu de Ambientes  -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ambientes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">           
            <li><%= link_to 'Registrar Ambiente', new_ambiente_path %></li>
            <li><%= link_to 'Ver Ambientes Registrados', ambientes_path %></li>
          </ul>
        </li>
      </ul>

      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Bienvenido Usuario</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuenta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">           
            <li><a href="#">Agregar Usuario</a></li>
            <li><a href="#">Edita Cuenta</a></li>
            <li class="divider"></li>
             <li><a href="#">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
